<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcxbs.sys.dao.SysCompanyMapper">
    <resultMap id="BaseResultMap" type="com.lcxbs.sys.model.SysCompany">
  	   <id column="NID" property="nid" jdbcType="NUMERIC" />
        <result column="CMPY_ID" property="cmpyId" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="CMPY_NAME" property="cmpyName" jdbcType="VARCHAR"/>
        <result column="CMPY_LONG_NAME" property="cmpyLongName" jdbcType="VARCHAR"/>
        <result column="CMPY_TYPE" property="cmpyType" jdbcType="NUMERIC"/>
        <result column="CMPY_ADDRESS" property="cmpyAddress" jdbcType="VARCHAR"/>
        <result column="ZONE_CODE" property="zoneCode" jdbcType="VARCHAR"/>
        <result column="CMPY_DESCRIPTION" property="cmpyDescription" jdbcType="VARCHAR"/>
        <result column="INIT_FLAG" property="initFlag" jdbcType="NUMERIC"/>
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="NUMERIC"/>
        <result column="SORT_NUM" property="sortNum" jdbcType="NUMERIC"/>
        <result column="DISABLE_FLAG" property="disableFlag" jdbcType="NUMERIC"/>
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="NUMERIC"/>
        <result column="REVISION" property="revision" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="CREATED_TIME" property="createdTime" jdbcType="NUMERIC"/>
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="NUMERIC"/>
        <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        A.NID,A.CMPY_ID,A.PARENT_ID,A.CMPY_NAME,A.CMPY_LONG_NAME,A.CMPY_TYPE,A.CMPY_ADDRESS,A.ZONE_CODE,A.CMPY_DESCRIPTION,A.INIT_FLAG,A.DEFAULT_FLAG,A.SORT_NUM,A.DISABLE_FLAG,A.DELETE_FLAG,A.REVISION,A.CREATED_BY,A.CREATED_TIME,A.UPDATED_BY,A.UPDATED_TIME,A.TENANT_ID
    </sql>
   
   <!-- SELECT sql片段 -->  
    <sql id="select_where">
	   <if test="nid!=null">
            and A.NID = #{nid} 
        </if>
	   <if test="cmpyId!=null and cmpyId!=''">
            and A.CMPY_ID = #{cmpyId} 
        </if>
	   <if test="parentId!=null and parentId!=''">
            and A.PARENT_ID = #{parentId} 
        </if>
	   <if test="cmpyName!=null and cmpyName!=''">
            and A.CMPY_NAME = #{cmpyName} 
        </if>
	   <if test="cmpyLongName!=null and cmpyLongName!=''">
            and A.CMPY_LONG_NAME = #{cmpyLongName} 
        </if>
	   <if test="cmpyType!=null">
            and A.CMPY_TYPE = #{cmpyType} 
        </if>
	   <if test="cmpyAddress!=null and cmpyAddress!=''">
            and A.CMPY_ADDRESS = #{cmpyAddress} 
        </if>
	   <if test="zoneCode!=null and zoneCode!=''">
            and A.ZONE_CODE = #{zoneCode} 
        </if>
	   <if test="cmpyDescription!=null and cmpyDescription!=''">
            and A.CMPY_DESCRIPTION = #{cmpyDescription} 
        </if>
	   <if test="initFlag!=null">
            and A.INIT_FLAG = #{initFlag} 
        </if>
	   <if test="defaultFlag!=null">
            and A.DEFAULT_FLAG = #{defaultFlag} 
        </if>
	   <if test="sortNum!=null">
            and A.SORT_NUM = #{sortNum} 
        </if>
	   <if test="disableFlag!=null">
            and A.DISABLE_FLAG = #{disableFlag} 
        </if>
	   <if test="deleteFlag!=null">
            and A.DELETE_FLAG = #{deleteFlag} 
        </if>
	   <if test="revision!=null and revision!=''">
            and A.REVISION = #{revision} 
        </if>
	   <if test="createdBy!=null and createdBy!=''">
            and A.CREATED_BY = #{createdBy} 
        </if>
	   <if test="createdTime!=null">
            and A.CREATED_TIME = #{createdTime} 
        </if>
        <if test="map.createdTimeStart!=null and map.createdTimeStart!=''">
            and A.CREATED_TIME &gt;= #{map.createdTimeStart} 
        </if>
        <if test="map.createdTimeEnd!=null and map.createdTimeEnd!=''">
            and A.CREATED_TIME &lt;= #{map.createdTimeEnd} 
        </if>
	   <if test="updatedBy!=null and updatedBy!=''">
            and A.UPDATED_BY = #{updatedBy} 
        </if>
	   <if test="updatedTime!=null">
            and A.UPDATED_TIME = #{updatedTime} 
        </if>
        <if test="map.updatedTimeStart!=null and map.updatedTimeStart!=''">
            and A.UPDATED_TIME &gt;= #{map.updatedTimeStart} 
        </if>
        <if test="map.updatedTimeEnd!=null and map.updatedTimeEnd!=''">
            and A.UPDATED_TIME &lt;= #{map.updatedTimeEnd} 
        </if>
	   <if test="tenantId!=null and tenantId!=''">
            and A.TENANT_ID = #{tenantId} 
        </if>
    </sql>
   
    <!-- 获取信息 -->
    <select id="getModelByKey" resultMap="BaseResultMap" parameterType="java.lang.Long" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_COMPANY A WHERE A.NID = #{nid}
    </select>
  
    <!-- 删除信息 -->
    <delete id="delete" parameterType="java.lang.Long" flushCache="true">
        DELETE FROM SYS_COMPANY WHERE NID = #{nid}
    </delete>
  
    <!-- 插入信息,插入后获取自增主键值(适配mysql) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true" databaseId="mysql">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
            INSERT INTO SYS_COMPANY (CMPY_ID,PARENT_ID,CMPY_NAME,CMPY_LONG_NAME,CMPY_TYPE,CMPY_ADDRESS,ZONE_CODE,CMPY_DESCRIPTION,INIT_FLAG,DEFAULT_FLAG,SORT_NUM,DISABLE_FLAG,DELETE_FLAG,REVISION,CREATED_BY,CREATED_TIME,UPDATED_BY,UPDATED_TIME,TENANT_ID)
                VALUES (
                    #{cmpyId,jdbcType=VARCHAR},
                    #{parentId,jdbcType=VARCHAR},
                    #{cmpyName,jdbcType=VARCHAR},
                    #{cmpyLongName,jdbcType=VARCHAR},
                    #{cmpyType,jdbcType=NUMERIC},
                    #{cmpyAddress,jdbcType=VARCHAR},
                    #{zoneCode,jdbcType=VARCHAR},
                    #{cmpyDescription,jdbcType=VARCHAR},
                    #{initFlag,jdbcType=NUMERIC},
                    #{defaultFlag,jdbcType=NUMERIC},
                    #{sortNum,jdbcType=NUMERIC},
                    #{disableFlag,jdbcType=NUMERIC},
                    #{deleteFlag,jdbcType=NUMERIC},
                    #{revision,jdbcType=VARCHAR},
                    #{createdBy,jdbcType=VARCHAR},
                    #{createdTime,jdbcType=NUMERIC},
                    #{updatedBy,jdbcType=VARCHAR},
                    #{updatedTime,jdbcType=NUMERIC},
                    #{tenantId,jdbcType=VARCHAR})
    </insert>
	
	 <!-- 插入信息,插入后获取自增主键值(适配oracle) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true" databaseId="oracle">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_SYS_COMPANY.NEXTVAL from dual
        </selectKey>
            INSERT INTO SYS_COMPANY (NID,CMPY_ID,PARENT_ID,CMPY_NAME,CMPY_LONG_NAME,CMPY_TYPE,CMPY_ADDRESS,ZONE_CODE,CMPY_DESCRIPTION,INIT_FLAG,DEFAULT_FLAG,SORT_NUM,DISABLE_FLAG,DELETE_FLAG,REVISION,CREATED_BY,CREATED_TIME,UPDATED_BY,UPDATED_TIME,TENANT_ID)
                VALUES (
                    #{nid,jdbcType=NUMERIC},
                    #{cmpyId,jdbcType=VARCHAR},
                    #{parentId,jdbcType=VARCHAR},
                    #{cmpyName,jdbcType=VARCHAR},
                    #{cmpyLongName,jdbcType=VARCHAR},
                    #{cmpyType,jdbcType=NUMERIC},
                    #{cmpyAddress,jdbcType=VARCHAR},
                    #{zoneCode,jdbcType=VARCHAR},
                    #{cmpyDescription,jdbcType=VARCHAR},
                    #{initFlag,jdbcType=NUMERIC},
                    #{defaultFlag,jdbcType=NUMERIC},
                    #{sortNum,jdbcType=NUMERIC},
                    #{disableFlag,jdbcType=NUMERIC},
                    #{deleteFlag,jdbcType=NUMERIC},
                    #{revision,jdbcType=VARCHAR},
                    #{createdBy,jdbcType=VARCHAR},
                    #{createdTime,jdbcType=NUMERIC},
                    #{updatedBy,jdbcType=VARCHAR},
                    #{updatedTime,jdbcType=NUMERIC},
                    #{tenantId,jdbcType=VARCHAR})
    </insert>
  
    <!-- 精确更新 -->
    <update id="updateSelective" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        UPDATE SYS_COMPANY A
        <set>
            <if test="cmpyId != null" >
                A.CMPY_ID = #{cmpyId},
            </if>
            <if test="parentId != null" >
                A.PARENT_ID = #{parentId},
            </if>
            <if test="cmpyName != null" >
                A.CMPY_NAME = #{cmpyName},
            </if>
            <if test="cmpyLongName != null" >
                A.CMPY_LONG_NAME = #{cmpyLongName},
            </if>
            <if test="cmpyType != null" >
                A.CMPY_TYPE = #{cmpyType},
            </if>
            <if test="cmpyAddress != null" >
                A.CMPY_ADDRESS = #{cmpyAddress},
            </if>
            <if test="zoneCode != null" >
                A.ZONE_CODE = #{zoneCode},
            </if>
            <if test="cmpyDescription != null" >
                A.CMPY_DESCRIPTION = #{cmpyDescription},
            </if>
            <if test="initFlag != null" >
                A.INIT_FLAG = #{initFlag},
            </if>
            <if test="defaultFlag != null" >
                A.DEFAULT_FLAG = #{defaultFlag},
            </if>
            <if test="sortNum != null" >
                A.SORT_NUM = #{sortNum},
            </if>
            <if test="disableFlag != null" >
                A.DISABLE_FLAG = #{disableFlag},
            </if>
            <if test="deleteFlag != null" >
                A.DELETE_FLAG = #{deleteFlag},
            </if>
            <if test="revision != null" >
                A.REVISION = #{revision},
            </if>
            <if test="createdBy != null" >
                A.CREATED_BY = #{createdBy},
            </if>
            <if test="createdTime != null" >
                A.CREATED_TIME = #{createdTime},
            </if>
            <if test="updatedBy != null" >
                A.UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null" >
                A.UPDATED_TIME = #{updatedTime},
            </if>
            <if test="tenantId != null" >
                A.TENANT_ID = #{tenantId}
            </if>
        </set>
        WHERE A.NID = #{nid}
    </update>
  
    <!-- 更新所有 -->
    <update id="updateByPrimaryKey" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        UPDATE SYS_COMPANY A
        <set> 
	        <if test="cmpyId != null" >
                  A.CMPY_ID = #{cmpyId},
	        </if>
	        <if test="parentId != null" >
                  A.PARENT_ID = #{parentId},
	        </if>
	        <if test="cmpyName != null" >
                  A.CMPY_NAME = #{cmpyName},
	        </if>
	        <if test="cmpyLongName != null" >
                  A.CMPY_LONG_NAME = #{cmpyLongName},
	        </if>
	        <if test="cmpyType != null" >
                  A.CMPY_TYPE = #{cmpyType},
	        </if>
	        <if test="cmpyAddress != null" >
                  A.CMPY_ADDRESS = #{cmpyAddress},
	        </if>
	        <if test="zoneCode != null" >
                  A.ZONE_CODE = #{zoneCode},
	        </if>
	        <if test="cmpyDescription != null" >
                  A.CMPY_DESCRIPTION = #{cmpyDescription},
	        </if>
	        <if test="initFlag != null" >
                  A.INIT_FLAG = #{initFlag},
	        </if>
	        <if test="defaultFlag != null" >
                  A.DEFAULT_FLAG = #{defaultFlag},
	        </if>
	        <if test="sortNum != null" >
                  A.SORT_NUM = #{sortNum},
	        </if>
	        <if test="disableFlag != null" >
                  A.DISABLE_FLAG = #{disableFlag},
	        </if>
	        <if test="deleteFlag != null" >
                  A.DELETE_FLAG = #{deleteFlag},
	        </if>
	        <if test="revision != null" >
                  A.REVISION = #{revision},
	        </if>
	        <if test="createdBy != null" >
                  A.CREATED_BY = #{createdBy},
	        </if>
	        <if test="createdTime != null" >
                  A.CREATED_TIME = #{createdTime},
	        </if>
	        <if test="updatedBy != null" >
                  A.UPDATED_BY = #{updatedBy},
	        </if>
	        <if test="updatedTime != null" >
                  A.UPDATED_TIME = #{updatedTime},
	        </if>
	        <if test="tenantId != null" >
                  A.TENANT_ID = #{tenantId}
	        </if>
	    </set>
        WHERE A.NID = #{nid}
    </update>
    
    <!-- 根据Map集合参数选择更新 -->
    <update id="updateByMap" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        UPDATE SYS_COMPANY A
        <set> 
	        <if test="cmpyId != null" >
                  A.CMPY_ID = #{cmpyId},
	        </if>
	        <if test="parentId != null" >
                  A.PARENT_ID = #{parentId},
	        </if>
	        <if test="cmpyName != null" >
                  A.CMPY_NAME = #{cmpyName},
	        </if>
	        <if test="cmpyLongName != null" >
                  A.CMPY_LONG_NAME = #{cmpyLongName},
	        </if>
	        <if test="cmpyType != null" >
                  A.CMPY_TYPE = #{cmpyType},
	        </if>
	        <if test="cmpyAddress != null" >
                  A.CMPY_ADDRESS = #{cmpyAddress},
	        </if>
	        <if test="zoneCode != null" >
                  A.ZONE_CODE = #{zoneCode},
	        </if>
	        <if test="cmpyDescription != null" >
                  A.CMPY_DESCRIPTION = #{cmpyDescription},
	        </if>
	        <if test="initFlag != null" >
                  A.INIT_FLAG = #{initFlag},
	        </if>
	        <if test="defaultFlag != null" >
                  A.DEFAULT_FLAG = #{defaultFlag},
	        </if>
	        <if test="sortNum != null" >
                  A.SORT_NUM = #{sortNum},
	        </if>
	        <if test="disableFlag != null" >
                  A.DISABLE_FLAG = #{disableFlag},
	        </if>
	        <if test="deleteFlag != null" >
                  A.DELETE_FLAG = #{deleteFlag},
	        </if>
	        <if test="revision != null" >
                  A.REVISION = #{revision},
	        </if>
	        <if test="createdBy != null" >
                  A.CREATED_BY = #{createdBy},
	        </if>
	        <if test="createdTime != null" >
                  A.CREATED_TIME = #{createdTime},
	        </if>
	        <if test="updatedBy != null" >
                  A.UPDATED_BY = #{updatedBy},
	        </if>
	        <if test="updatedTime != null" >
                  A.UPDATED_TIME = #{updatedTime},
	        </if>
	        <if test="tenantId != null" >
                  A.TENANT_ID = #{tenantId}
	        </if>
	    </set>
        <where> 
            <if test="map.nid!=null">
                and A.NID = #{map.nid} 
            </if>
            <if test="map.cmpyId!=null and map.cmpyId!=''">
                and A.CMPY_ID = #{map.cmpyId} 
            </if>
            <if test="map.parentId!=null and map.parentId!=''">
                and A.PARENT_ID = #{map.parentId} 
            </if>
            <if test="map.cmpyName!=null and map.cmpyName!=''">
                and A.CMPY_NAME = #{map.cmpyName} 
            </if>
            <if test="map.cmpyLongName!=null and map.cmpyLongName!=''">
                and A.CMPY_LONG_NAME = #{map.cmpyLongName} 
            </if>
            <if test="map.cmpyType!=null">
                and A.CMPY_TYPE = #{map.cmpyType} 
            </if>
            <if test="map.cmpyAddress!=null and map.cmpyAddress!=''">
                and A.CMPY_ADDRESS = #{map.cmpyAddress} 
            </if>
            <if test="map.zoneCode!=null and map.zoneCode!=''">
                and A.ZONE_CODE = #{map.zoneCode} 
            </if>
            <if test="map.cmpyDescription!=null and map.cmpyDescription!=''">
                and A.CMPY_DESCRIPTION = #{map.cmpyDescription} 
            </if>
            <if test="map.initFlag!=null">
                and A.INIT_FLAG = #{map.initFlag} 
            </if>
            <if test="map.defaultFlag!=null">
                and A.DEFAULT_FLAG = #{map.defaultFlag} 
            </if>
            <if test="map.sortNum!=null">
                and A.SORT_NUM = #{map.sortNum} 
            </if>
            <if test="map.disableFlag!=null">
                and A.DISABLE_FLAG = #{map.disableFlag} 
            </if>
            <if test="map.deleteFlag!=null">
                and A.DELETE_FLAG = #{map.deleteFlag} 
            </if>
            <if test="map.revision!=null and map.revision!=''">
                and A.REVISION = #{map.revision} 
            </if>
            <if test="map.createdBy!=null and map.createdBy!=''">
                and A.CREATED_BY = #{map.createdBy} 
            </if>
            <if test="map.createdTime!=null">
                and A.CREATED_TIME = #{map.createdTime} 
            </if>
            <if test="map.updatedBy!=null and map.updatedBy!=''">
                and A.UPDATED_BY = #{map.updatedBy} 
            </if>
            <if test="map.updatedTime!=null">
                and A.UPDATED_TIME = #{map.updatedTime} 
            </if>
            <if test="map.tenantId!=null and map.tenantId!=''">
                and A.TENANT_ID = #{map.tenantId} 
            </if>
        </where>
    </update>
  
    <!-- 统计记录 -->
    <select id="countAll" resultType="java.lang.Long" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        SELECT COUNT(NID) FROM SYS_COMPANY A <where> <include refid="select_where"></include> </where>
    </select>
  
    <!-- 查询所有的ID -->
    <select id="getAllIds" resultType="java.lang.String" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        SELECT NID FROM SYS_COMPANY A 
        <where> <include refid="select_where"></include> </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 分页获取数据 -->
    <select id="getListByPage" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_COMPANY A
        <where> 
            <include refid="select_where"></include>  
        </where>
        <if test="map!=null">
			<if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 按条件获取 -->
    <select id="getListByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_COMPANY A 
        <where> <include refid="select_where"></include>  </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
            <if test="map.orderBy==null or map.orderBy==''">
            	ORDER BY A.NID ASC
            </if>
        </if>
    </select>
	
    <!-- 按条件获取信息 -->
    <select id="getModelByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysCompany" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_COMPANY A
        <where> <include refid="select_where"></include>  </where>
        ORDER BY A.NID ASC
    </select>

    <!-- 按条件删除信息-->
    <delete id="deleteByWhere" parameterType="com.lcxbs.sys.model.SysCompany" flushCache="true">
        DELETE FROM SYS_COMPANY 
        <where>
            <if test="nid!=null">
                and NID = #{nid} 
            </if>
            <if test="cmpyId!=null and cmpyId!=''">
                and CMPY_ID = #{cmpyId} 
            </if>
            <if test="parentId!=null and parentId!=''">
                and PARENT_ID = #{parentId} 
            </if>
            <if test="cmpyName!=null and cmpyName!=''">
                and CMPY_NAME = #{cmpyName} 
            </if>
            <if test="cmpyLongName!=null and cmpyLongName!=''">
                and CMPY_LONG_NAME = #{cmpyLongName} 
            </if>
            <if test="cmpyType!=null">
                and CMPY_TYPE = #{cmpyType} 
            </if>
            <if test="cmpyAddress!=null and cmpyAddress!=''">
                and CMPY_ADDRESS = #{cmpyAddress} 
            </if>
            <if test="zoneCode!=null and zoneCode!=''">
                and ZONE_CODE = #{zoneCode} 
            </if>
            <if test="cmpyDescription!=null and cmpyDescription!=''">
                and CMPY_DESCRIPTION = #{cmpyDescription} 
            </if>
            <if test="initFlag!=null">
                and INIT_FLAG = #{initFlag} 
            </if>
            <if test="defaultFlag!=null">
                and DEFAULT_FLAG = #{defaultFlag} 
            </if>
            <if test="sortNum!=null">
                and SORT_NUM = #{sortNum} 
            </if>
            <if test="disableFlag!=null">
                and DISABLE_FLAG = #{disableFlag} 
            </if>
            <if test="deleteFlag!=null">
                and DELETE_FLAG = #{deleteFlag} 
            </if>
            <if test="revision!=null and revision!=''">
                and REVISION = #{revision} 
            </if>
            <if test="createdBy!=null and createdBy!=''">
                and CREATED_BY = #{createdBy} 
            </if>
            <if test="createdTime!=null">
                and CREATED_TIME = #{createdTime} 
            </if>
            <if test="updatedBy!=null and updatedBy!=''">
                and UPDATED_BY = #{updatedBy} 
            </if>
            <if test="updatedTime!=null">
                and UPDATED_TIME = #{updatedTime} 
            </if>
            <if test="tenantId!=null and tenantId!=''">
                and TENANT_ID = #{tenantId} 
            </if>
        </where>
    </delete>
	
</mapper>
