<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcxbs.sys.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.lcxbs.sys.model.SysRole">
  	   <id column="NID" property="nid" jdbcType="NUMERIC" />
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="ROLE_REMARK" property="roleRemark" jdbcType="VARCHAR"/>
        <result column="ROLE_AVATAR" property="roleAvatar" jdbcType="VARCHAR"/>
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR"/>
        <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="NUMERIC"/>
        <result column="SORT_NUM" property="sortNum" jdbcType="NUMERIC"/>
        <result column="DISABLE_FLAG" property="disableFlag" jdbcType="NUMERIC"/>
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="NUMERIC"/>
        <result column="REVISION" property="revision" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="CREATED_TIME" property="createdTime" jdbcType="NUMERIC"/>
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="NUMERIC"/>
        <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        A.NID,A.ROLE_ID,A.ROLE_NAME,A.ROLE_REMARK,A.ROLE_AVATAR,A.ROLE_CODE,A.DEFAULT_FLAG,A.SORT_NUM,A.DISABLE_FLAG,A.DELETE_FLAG,A.REVISION,A.CREATED_BY,A.CREATED_TIME,A.UPDATED_BY,A.UPDATED_TIME,A.TENANT_ID
    </sql>
   
   <!-- SELECT sql片段 -->  
    <sql id="select_where">
	   <if test="nid!=null">
            and A.NID = #{nid} 
        </if>
	   <if test="roleId!=null and roleId!=''">
            and A.ROLE_ID = #{roleId} 
        </if>
	   <if test="roleName!=null and roleName!=''">
            and A.ROLE_NAME = #{roleName} 
        </if>
	   <if test="roleRemark!=null and roleRemark!=''">
            and A.ROLE_REMARK = #{roleRemark} 
        </if>
	   <if test="roleAvatar!=null and roleAvatar!=''">
            and A.ROLE_AVATAR = #{roleAvatar} 
        </if>
	   <if test="roleCode!=null and roleCode!=''">
            and A.ROLE_CODE = #{roleCode} 
        </if>
	   <if test="defaultFlag!=null">
            and A.DEFAULT_FLAG = #{defaultFlag} 
        </if>
	   <if test="sortNum!=null">
            and A.SORT_NUM = #{sortNum} 
        </if>
	   <if test="disableFlag!=null">
            and A.DISABLE_FLAG = #{disableFlag} 
        </if>
	   <if test="deleteFlag!=null">
            and A.DELETE_FLAG = #{deleteFlag} 
        </if>
	   <if test="revision!=null and revision!=''">
            and A.REVISION = #{revision} 
        </if>
	   <if test="createdBy!=null and createdBy!=''">
            and A.CREATED_BY = #{createdBy} 
        </if>
	   <if test="createdTime!=null">
            and A.CREATED_TIME = #{createdTime} 
        </if>
        <if test="map.createdTimeStart!=null and map.createdTimeStart!=''">
            and A.CREATED_TIME &gt;= #{map.createdTimeStart} 
        </if>
        <if test="map.createdTimeEnd!=null and map.createdTimeEnd!=''">
            and A.CREATED_TIME &lt;= #{map.createdTimeEnd} 
        </if>
	   <if test="updatedBy!=null and updatedBy!=''">
            and A.UPDATED_BY = #{updatedBy} 
        </if>
	   <if test="updatedTime!=null">
            and A.UPDATED_TIME = #{updatedTime} 
        </if>
        <if test="map.updatedTimeStart!=null and map.updatedTimeStart!=''">
            and A.UPDATED_TIME &gt;= #{map.updatedTimeStart} 
        </if>
        <if test="map.updatedTimeEnd!=null and map.updatedTimeEnd!=''">
            and A.UPDATED_TIME &lt;= #{map.updatedTimeEnd} 
        </if>
	   <if test="tenantId!=null and tenantId!=''">
            and A.TENANT_ID = #{tenantId} 
        </if>
    </sql>
   
    <!-- 获取信息 -->
    <select id="getModelByKey" resultMap="BaseResultMap" parameterType="java.lang.Long" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_ROLE A WHERE A.NID = #{nid}
    </select>
  
    <!-- 删除信息 -->
    <delete id="delete" parameterType="java.lang.Long" flushCache="true">
        DELETE FROM SYS_ROLE WHERE NID = #{nid}
    </delete>
  
    <!-- 插入信息,插入后获取自增主键值(适配mysql) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true" databaseId="mysql">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
            INSERT INTO SYS_ROLE (ROLE_ID,ROLE_NAME,ROLE_REMARK,ROLE_AVATAR,ROLE_CODE,DEFAULT_FLAG,SORT_NUM,DISABLE_FLAG,DELETE_FLAG,REVISION,CREATED_BY,CREATED_TIME,UPDATED_BY,UPDATED_TIME,TENANT_ID)
                VALUES (
                    #{roleId,jdbcType=VARCHAR},
                    #{roleName,jdbcType=VARCHAR},
                    #{roleRemark,jdbcType=VARCHAR},
                    #{roleAvatar,jdbcType=VARCHAR},
                    #{roleCode,jdbcType=VARCHAR},
                    #{defaultFlag,jdbcType=NUMERIC},
                    #{sortNum,jdbcType=NUMERIC},
                    #{disableFlag,jdbcType=NUMERIC},
                    #{deleteFlag,jdbcType=NUMERIC},
                    #{revision,jdbcType=VARCHAR},
                    #{createdBy,jdbcType=VARCHAR},
                    #{createdTime,jdbcType=NUMERIC},
                    #{updatedBy,jdbcType=VARCHAR},
                    #{updatedTime,jdbcType=NUMERIC},
                    #{tenantId,jdbcType=VARCHAR})
    </insert>
	
	 <!-- 插入信息,插入后获取自增主键值(适配oracle) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true" databaseId="oracle">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_SYS_ROLE.NEXTVAL from dual
        </selectKey>
            INSERT INTO SYS_ROLE (NID,ROLE_ID,ROLE_NAME,ROLE_REMARK,ROLE_AVATAR,ROLE_CODE,DEFAULT_FLAG,SORT_NUM,DISABLE_FLAG,DELETE_FLAG,REVISION,CREATED_BY,CREATED_TIME,UPDATED_BY,UPDATED_TIME,TENANT_ID)
                VALUES (
                    #{nid,jdbcType=NUMERIC},
                    #{roleId,jdbcType=VARCHAR},
                    #{roleName,jdbcType=VARCHAR},
                    #{roleRemark,jdbcType=VARCHAR},
                    #{roleAvatar,jdbcType=VARCHAR},
                    #{roleCode,jdbcType=VARCHAR},
                    #{defaultFlag,jdbcType=NUMERIC},
                    #{sortNum,jdbcType=NUMERIC},
                    #{disableFlag,jdbcType=NUMERIC},
                    #{deleteFlag,jdbcType=NUMERIC},
                    #{revision,jdbcType=VARCHAR},
                    #{createdBy,jdbcType=VARCHAR},
                    #{createdTime,jdbcType=NUMERIC},
                    #{updatedBy,jdbcType=VARCHAR},
                    #{updatedTime,jdbcType=NUMERIC},
                    #{tenantId,jdbcType=VARCHAR})
    </insert>
  
    <!-- 精确更新 -->
    <update id="updateSelective" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        UPDATE SYS_ROLE A
        <set>
            <if test="roleId != null" >
                A.ROLE_ID = #{roleId},
            </if>
            <if test="roleName != null" >
                A.ROLE_NAME = #{roleName},
            </if>
            <if test="roleRemark != null" >
                A.ROLE_REMARK = #{roleRemark},
            </if>
            <if test="roleAvatar != null" >
                A.ROLE_AVATAR = #{roleAvatar},
            </if>
            <if test="roleCode != null" >
                A.ROLE_CODE = #{roleCode},
            </if>
            <if test="defaultFlag != null" >
                A.DEFAULT_FLAG = #{defaultFlag},
            </if>
            <if test="sortNum != null" >
                A.SORT_NUM = #{sortNum},
            </if>
            <if test="disableFlag != null" >
                A.DISABLE_FLAG = #{disableFlag},
            </if>
            <if test="deleteFlag != null" >
                A.DELETE_FLAG = #{deleteFlag},
            </if>
            <if test="revision != null" >
                A.REVISION = #{revision},
            </if>
            <if test="createdBy != null" >
                A.CREATED_BY = #{createdBy},
            </if>
            <if test="createdTime != null" >
                A.CREATED_TIME = #{createdTime},
            </if>
            <if test="updatedBy != null" >
                A.UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedTime != null" >
                A.UPDATED_TIME = #{updatedTime},
            </if>
            <if test="tenantId != null" >
                A.TENANT_ID = #{tenantId}
            </if>
        </set>
        WHERE A.NID = #{nid}
    </update>
  
    <!-- 更新所有 -->
    <update id="updateByPrimaryKey" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        UPDATE SYS_ROLE A
        <set> 
	        <if test="roleId != null" >
                  A.ROLE_ID = #{roleId},
	        </if>
	        <if test="roleName != null" >
                  A.ROLE_NAME = #{roleName},
	        </if>
	        <if test="roleRemark != null" >
                  A.ROLE_REMARK = #{roleRemark},
	        </if>
	        <if test="roleAvatar != null" >
                  A.ROLE_AVATAR = #{roleAvatar},
	        </if>
	        <if test="roleCode != null" >
                  A.ROLE_CODE = #{roleCode},
	        </if>
	        <if test="defaultFlag != null" >
                  A.DEFAULT_FLAG = #{defaultFlag},
	        </if>
	        <if test="sortNum != null" >
                  A.SORT_NUM = #{sortNum},
	        </if>
	        <if test="disableFlag != null" >
                  A.DISABLE_FLAG = #{disableFlag},
	        </if>
	        <if test="deleteFlag != null" >
                  A.DELETE_FLAG = #{deleteFlag},
	        </if>
	        <if test="revision != null" >
                  A.REVISION = #{revision},
	        </if>
	        <if test="createdBy != null" >
                  A.CREATED_BY = #{createdBy},
	        </if>
	        <if test="createdTime != null" >
                  A.CREATED_TIME = #{createdTime},
	        </if>
	        <if test="updatedBy != null" >
                  A.UPDATED_BY = #{updatedBy},
	        </if>
	        <if test="updatedTime != null" >
                  A.UPDATED_TIME = #{updatedTime},
	        </if>
	        <if test="tenantId != null" >
                  A.TENANT_ID = #{tenantId}
	        </if>
	    </set>
        WHERE A.NID = #{nid}
    </update>
    
    <!-- 根据Map集合参数选择更新 -->
    <update id="updateByMap" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        UPDATE SYS_ROLE A
        <set> 
	        <if test="roleId != null" >
                  A.ROLE_ID = #{roleId},
	        </if>
	        <if test="roleName != null" >
                  A.ROLE_NAME = #{roleName},
	        </if>
	        <if test="roleRemark != null" >
                  A.ROLE_REMARK = #{roleRemark},
	        </if>
	        <if test="roleAvatar != null" >
                  A.ROLE_AVATAR = #{roleAvatar},
	        </if>
	        <if test="roleCode != null" >
                  A.ROLE_CODE = #{roleCode},
	        </if>
	        <if test="defaultFlag != null" >
                  A.DEFAULT_FLAG = #{defaultFlag},
	        </if>
	        <if test="sortNum != null" >
                  A.SORT_NUM = #{sortNum},
	        </if>
	        <if test="disableFlag != null" >
                  A.DISABLE_FLAG = #{disableFlag},
	        </if>
	        <if test="deleteFlag != null" >
                  A.DELETE_FLAG = #{deleteFlag},
	        </if>
	        <if test="revision != null" >
                  A.REVISION = #{revision},
	        </if>
	        <if test="createdBy != null" >
                  A.CREATED_BY = #{createdBy},
	        </if>
	        <if test="createdTime != null" >
                  A.CREATED_TIME = #{createdTime},
	        </if>
	        <if test="updatedBy != null" >
                  A.UPDATED_BY = #{updatedBy},
	        </if>
	        <if test="updatedTime != null" >
                  A.UPDATED_TIME = #{updatedTime},
	        </if>
	        <if test="tenantId != null" >
                  A.TENANT_ID = #{tenantId}
	        </if>
	    </set>
        <where> 
            <if test="map.nid!=null">
                and A.NID = #{map.nid} 
            </if>
            <if test="map.roleId!=null and map.roleId!=''">
                and A.ROLE_ID = #{map.roleId} 
            </if>
            <if test="map.roleName!=null and map.roleName!=''">
                and A.ROLE_NAME = #{map.roleName} 
            </if>
            <if test="map.roleRemark!=null and map.roleRemark!=''">
                and A.ROLE_REMARK = #{map.roleRemark} 
            </if>
            <if test="map.roleAvatar!=null and map.roleAvatar!=''">
                and A.ROLE_AVATAR = #{map.roleAvatar} 
            </if>
            <if test="map.roleCode!=null and map.roleCode!=''">
                and A.ROLE_CODE = #{map.roleCode} 
            </if>
            <if test="map.defaultFlag!=null">
                and A.DEFAULT_FLAG = #{map.defaultFlag} 
            </if>
            <if test="map.sortNum!=null">
                and A.SORT_NUM = #{map.sortNum} 
            </if>
            <if test="map.disableFlag!=null">
                and A.DISABLE_FLAG = #{map.disableFlag} 
            </if>
            <if test="map.deleteFlag!=null">
                and A.DELETE_FLAG = #{map.deleteFlag} 
            </if>
            <if test="map.revision!=null and map.revision!=''">
                and A.REVISION = #{map.revision} 
            </if>
            <if test="map.createdBy!=null and map.createdBy!=''">
                and A.CREATED_BY = #{map.createdBy} 
            </if>
            <if test="map.createdTime!=null">
                and A.CREATED_TIME = #{map.createdTime} 
            </if>
            <if test="map.updatedBy!=null and map.updatedBy!=''">
                and A.UPDATED_BY = #{map.updatedBy} 
            </if>
            <if test="map.updatedTime!=null">
                and A.UPDATED_TIME = #{map.updatedTime} 
            </if>
            <if test="map.tenantId!=null and map.tenantId!=''">
                and A.TENANT_ID = #{map.tenantId} 
            </if>
        </where>
    </update>
  
    <!-- 统计记录 -->
    <select id="countAll" resultType="java.lang.Long" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        SELECT COUNT(NID) FROM SYS_ROLE A <where> <include refid="select_where"></include> </where>
    </select>
  
    <!-- 查询所有的ID -->
    <select id="getAllIds" resultType="java.lang.String" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        SELECT NID FROM SYS_ROLE A 
        <where> <include refid="select_where"></include> </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 分页获取数据 -->
    <select id="getListByPage" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_ROLE A
        <where> 
            <include refid="select_where"></include>  
        </where>
        <if test="map!=null">
			<if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 按条件获取 -->
    <select id="getListByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_ROLE A 
        <where> <include refid="select_where"></include>  </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
            <if test="map.orderBy==null or map.orderBy==''">
            	ORDER BY A.NID ASC
            </if>
        </if>
    </select>
	
    <!-- 按条件获取信息 -->
    <select id="getModelByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysRole" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_ROLE A
        <where> <include refid="select_where"></include>  </where>
        ORDER BY A.NID ASC
    </select>

    <!-- 按条件删除信息-->
    <delete id="deleteByWhere" parameterType="com.lcxbs.sys.model.SysRole" flushCache="true">
        DELETE FROM SYS_ROLE 
        <where>
            <if test="nid!=null">
                and NID = #{nid} 
            </if>
            <if test="roleId!=null and roleId!=''">
                and ROLE_ID = #{roleId} 
            </if>
            <if test="roleName!=null and roleName!=''">
                and ROLE_NAME = #{roleName} 
            </if>
            <if test="roleRemark!=null and roleRemark!=''">
                and ROLE_REMARK = #{roleRemark} 
            </if>
            <if test="roleAvatar!=null and roleAvatar!=''">
                and ROLE_AVATAR = #{roleAvatar} 
            </if>
            <if test="roleCode!=null and roleCode!=''">
                and ROLE_CODE = #{roleCode} 
            </if>
            <if test="defaultFlag!=null">
                and DEFAULT_FLAG = #{defaultFlag} 
            </if>
            <if test="sortNum!=null">
                and SORT_NUM = #{sortNum} 
            </if>
            <if test="disableFlag!=null">
                and DISABLE_FLAG = #{disableFlag} 
            </if>
            <if test="deleteFlag!=null">
                and DELETE_FLAG = #{deleteFlag} 
            </if>
            <if test="revision!=null and revision!=''">
                and REVISION = #{revision} 
            </if>
            <if test="createdBy!=null and createdBy!=''">
                and CREATED_BY = #{createdBy} 
            </if>
            <if test="createdTime!=null">
                and CREATED_TIME = #{createdTime} 
            </if>
            <if test="updatedBy!=null and updatedBy!=''">
                and UPDATED_BY = #{updatedBy} 
            </if>
            <if test="updatedTime!=null">
                and UPDATED_TIME = #{updatedTime} 
            </if>
            <if test="tenantId!=null and tenantId!=''">
                and TENANT_ID = #{tenantId} 
            </if>
        </where>
    </delete>
	
</mapper>
