<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcxbs.sys.dao.SysUserDeptMapper">
    <resultMap id="BaseResultMap" type="com.lcxbs.sys.model.SysUserDept">
  	   <id column="NID" property="nid" jdbcType="NUMERIC" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR"/>
        <result column="MAIN_FLAG" property="mainFlag" jdbcType="NUMERIC"/>
    </resultMap>
    <sql id="Base_Column_List">
        A.NID,A.USER_ID,A.DEPT_ID,A.MAIN_FLAG
    </sql>
   
   <!-- SELECT sql片段 -->  
    <sql id="select_where">
	   <if test="nid!=null">
            and A.NID = #{nid} 
        </if>
	   <if test="userId!=null and userId!=''">
            and A.USER_ID = #{userId} 
        </if>
	   <if test="deptId!=null and deptId!=''">
            and A.DEPT_ID = #{deptId} 
        </if>
	   <if test="mainFlag!=null">
            and A.MAIN_FLAG = #{mainFlag} 
        </if>
    </sql>
   
    <!-- 获取信息 -->
    <select id="getModelByKey" resultMap="BaseResultMap" parameterType="java.lang.Long" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_USER_DEPT A WHERE A.NID = #{nid}
    </select>
  
    <!-- 删除信息 -->
    <delete id="delete" parameterType="java.lang.Long" flushCache="true">
        DELETE FROM SYS_USER_DEPT WHERE NID = #{nid}
    </delete>
  
    <!-- 插入信息,插入后获取自增主键值(适配mysql) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true" databaseId="mysql">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
            INSERT INTO SYS_USER_DEPT (USER_ID,DEPT_ID,MAIN_FLAG)
                VALUES (
                    #{userId,jdbcType=VARCHAR},
                    #{deptId,jdbcType=VARCHAR},
                    #{mainFlag,jdbcType=NUMERIC})
    </insert>
	
	 <!-- 插入信息,插入后获取自增主键值(适配oracle) -->
    <insert id="insert" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true" databaseId="oracle">
        <selectKey keyProperty="nid" resultType="java.lang.Long" order="BEFORE">
            SELECT SEQ_SYS_USER_DEPT.NEXTVAL from dual
        </selectKey>
            INSERT INTO SYS_USER_DEPT (NID,USER_ID,DEPT_ID,MAIN_FLAG)
                VALUES (
                    #{nid,jdbcType=NUMERIC},
                    #{userId,jdbcType=VARCHAR},
                    #{deptId,jdbcType=VARCHAR},
                    #{mainFlag,jdbcType=NUMERIC})
    </insert>
  
    <!-- 精确更新 -->
    <update id="updateSelective" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        UPDATE SYS_USER_DEPT A
        <set>
            <if test="userId != null" >
                A.USER_ID = #{userId},
            </if>
            <if test="deptId != null" >
                A.DEPT_ID = #{deptId},
            </if>
            <if test="mainFlag != null" >
                A.MAIN_FLAG = #{mainFlag}
            </if>
        </set>
        WHERE A.NID = #{nid}
    </update>
  
    <!-- 更新所有 -->
    <update id="updateByPrimaryKey" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        UPDATE SYS_USER_DEPT A
        <set> 
	        <if test="userId != null" >
                  A.USER_ID = #{userId},
	        </if>
	        <if test="deptId != null" >
                  A.DEPT_ID = #{deptId},
	        </if>
	        <if test="mainFlag != null" >
                  A.MAIN_FLAG = #{mainFlag}
	        </if>
	    </set>
        WHERE A.NID = #{nid}
    </update>
    
    <!-- 根据Map集合参数选择更新 -->
    <update id="updateByMap" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        UPDATE SYS_USER_DEPT A
        <set> 
	        <if test="userId != null" >
                  A.USER_ID = #{userId},
	        </if>
	        <if test="deptId != null" >
                  A.DEPT_ID = #{deptId},
	        </if>
	        <if test="mainFlag != null" >
                  A.MAIN_FLAG = #{mainFlag}
	        </if>
	    </set>
        <where> 
            <if test="map.nid!=null">
                and A.NID = #{map.nid} 
            </if>
            <if test="map.userId!=null and map.userId!=''">
                and A.USER_ID = #{map.userId} 
            </if>
            <if test="map.deptId!=null and map.deptId!=''">
                and A.DEPT_ID = #{map.deptId} 
            </if>
            <if test="map.mainFlag!=null">
                and A.MAIN_FLAG = #{map.mainFlag} 
            </if>
        </where>
    </update>
  
    <!-- 统计记录 -->
    <select id="countAll" resultType="java.lang.Long" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        SELECT COUNT(NID) FROM SYS_USER_DEPT A <where> <include refid="select_where"></include> </where>
    </select>
  
    <!-- 查询所有的ID -->
    <select id="getAllIds" resultType="java.lang.String" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        SELECT NID FROM SYS_USER_DEPT A 
        <where> <include refid="select_where"></include> </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 分页获取数据 -->
    <select id="getListByPage" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_USER_DEPT A
        <where> 
            <include refid="select_where"></include>  
        </where>
        <if test="map!=null">
			<if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
        </if>
    </select>
  
    <!-- 按条件获取 -->
    <select id="getListByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_USER_DEPT A 
        <where> <include refid="select_where"></include>  </where>
        <if test="map!=null">
            <if test="map.groupBy!=null and map.groupBy!=''">
                ${map.groupBy}
            </if>
            <if test="map.orderBy!=null and map.orderBy!=''">
                ${map.orderBy}
            </if>
            <if test="map.orderBy==null or map.orderBy==''">
            	ORDER BY A.NID ASC
            </if>
        </if>
    </select>
	
    <!-- 按条件获取信息 -->
    <select id="getModelByWhere" resultMap="BaseResultMap" parameterType="com.lcxbs.sys.model.SysUserDept" useCache="true">
        SELECT <include refid="Base_Column_List" /> FROM SYS_USER_DEPT A
        <where> <include refid="select_where"></include>  </where>
        ORDER BY A.NID ASC
    </select>

    <!-- 按条件删除信息-->
    <delete id="deleteByWhere" parameterType="com.lcxbs.sys.model.SysUserDept" flushCache="true">
        DELETE FROM SYS_USER_DEPT 
        <where>
            <if test="nid!=null">
                and NID = #{nid} 
            </if>
            <if test="userId!=null and userId!=''">
                and USER_ID = #{userId} 
            </if>
            <if test="deptId!=null and deptId!=''">
                and DEPT_ID = #{deptId} 
            </if>
            <if test="mainFlag!=null">
                and MAIN_FLAG = #{mainFlag} 
            </if>
        </where>
    </delete>
	
</mapper>
